<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <appSettings>
      <add key="provider" value="System.Data.SqlClient"/>
      <add key="connectionString" value="Data Source=DESKTOP-KUQ9J0B;Initial Catalog=StoreDB;Integrated Security=True;Pooling=False"/>
      <add key="connectionStringTestDatabase" value="Data Source=DESKTOP-KUQ9J0B;Initial Catalog=Test_Database;Integrated Security=True;Pooling=False"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>